# Week 3 - Naive Bayes

In [1]:
import h2o

In [2]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "1.8.0_232"; OpenJDK Runtime Environment (build 1.8.0_232-8u232-b09-0ubuntu1~19.04.1-b09); OpenJDK 64-Bit Server VM (build 25.232-b09, mixed mode)
  Starting server from /home/megan/Projects/h2oclass/lib/python3.7/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmp7p2506bi
  JVM stdout: /tmp/tmp7p2506bi/h2o_megan_started_from_python.out
  JVM stderr: /tmp/tmp7p2506bi/h2o_megan_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         01 secs
H2O cluster timezone:       America/Chicago
H2O data parsing timezone:  UTC
H2O cluster version:        3.28.0.3
H2O cluster version age:    9 days
H2O cluster name:           H2O_from_python_megan_p7ovho
H2O cluster total nodes:    1
H2O cluster free memory:    1.520 Gb
H2O cluster total cores:    3
H2O cluster allowed cores:  3
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.7.3 final
--------------------------  ------------------------------------------------------------------

In [3]:
url = 'http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv'
iris = h2o.import_file(url)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [4]:
train, test = iris.split_frame([0.8])

In [5]:
train.summary()

,sepal_len,sepal_wid,petal_len,petal_wid,class
type,real,real,real,real,enum
mins,4.3,2.0,1.0,0.1,
mean,5.8943548387096785,3.057258064516129,3.8217741935483875,1.2225806451612904,
maxs,7.9,4.4,6.9,2.5,
sigma,0.8285850824866966,0.4426772553152682,1.7727641584838725,0.7656060577868397,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,4.4,2.9,1.4,0.2,Iris-setosa
8,4.9,3.1,1.5,0.1,Iris-setosa
9,5.4,3.7,1.5,0.2,Iris-setosa

In [6]:
train.nrows

124

In [7]:
test.nrows

26

In [8]:
from h2o.estimators.naive_bayes import H2ONaiveBayesEstimator

In [9]:
mNB = H2ONaiveBayesEstimator()
mNB.train(['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid'], 'class', train)

naivebayes Model Build progress: |████████████████████████████████████████| 100%

In [10]:
mNB

Model Details
=============
H2ONaiveBayesEstimator :  Naive Bayes
Model Key:  NaiveBayes_model_python_1581805811022_1


Model Summary:

,,number_of_response_levels,min_apriori_probability,max_apriori_probability
0,,3.0,0.322581,0.346774

ModelMetricsMultinomial: naivebayes
** Reported on train data. **

MSE: 0.037310517641344604
RMSE: 0.1931593063803673
LogLoss: 0.12063332270046023
Mean Per-Class Error: 0.04726791453961051

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         40.0              0.0             0.0  0.000000   0 / 40
1          0.0             39.0             2.0  0.048780   2 / 41
2          0.0              4.0            39.0  0.093023   4 / 43
3         40.0             43.0            41.0  0.048387  6 / 124

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.951613
1  2   1.000000
2  3   1.000000

In [11]:
p = mNB.predict(test)

naivebayes prediction progress: |█████████████████████████████████████████| 100%

In [12]:
p

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,1,2.03767e-17,6.71223e-25
Iris-setosa,1,2.58457e-16,1.02339e-23
Iris-setosa,1,2.49438e-14,1.80427e-21
Iris-setosa,1,1.00322e-16,3.11806e-24
Iris-setosa,1,3.06595e-17,9.8953e-25
Iris-setosa,1,1.21117e-18,3.29073e-26
Iris-setosa,1,2.47186e-10,5.4774e-18
Iris-setosa,1,4.83485e-18,1.20505e-25
Iris-setosa,1,1.16931e-17,7.05055e-25
Iris-setosa,1,1.03344e-17,2.41804e-25

In [13]:
mNB.model_performance(test)

ModelMetricsMultinomial: naivebayes
** Reported on test data. **

MSE: 0.0036766704764984804
RMSE: 0.06063555455752409
LogLoss: 0.016812679714441982
Mean Per-Class Error: 0.0

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica  Error    Rate
0         10.0              0.0             0.0    0.0  0 / 10
1          0.0              9.0             0.0    0.0   0 / 9
2          0.0              0.0             7.0    0.0   0 / 7
3         10.0              9.0             7.0    0.0  0 / 26

Top-3 Hit Ratios:

   k  hit_ratio
0  1        1.0
1  2        1.0
2  3        1.0

In [14]:
# main parameter to tune here is laplace
mNB_2 = H2ONaiveBayesEstimator(laplace=2)
mNB_2.train(['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid'], 'class', train)

naivebayes Model Build progress: |████████████████████████████████████████| 100%

In [15]:
mNB_2.model_performance(test)

ModelMetricsMultinomial: naivebayes
** Reported on test data. **

MSE: 0.0036877917347054707
RMSE: 0.06072719106549776
LogLoss: 0.016840867401930217
Mean Per-Class Error: 0.0

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica  Error    Rate
0         10.0              0.0             0.0    0.0  0 / 10
1          0.0              9.0             0.0    0.0   0 / 9
2          0.0              0.0             7.0    0.0   0 / 7
3         10.0              9.0             7.0    0.0  0 / 26

Top-3 Hit Ratios:

   k  hit_ratio
0  1        1.0
1  2        1.0
2  3        1.0